name: Node CI Demo

on:
  push:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Code घ्या
      uses: actions/checkout@v4

    - name: Node install करा
      uses: actions/setup-node@v4
      with:
        node-version: 18

    - name: npm install
      run: npm install

    - name: npm start
      run: npm start
